h1 {
  font-size: px-to-rem(64);
  font-family: $fontSans;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}

h2 {
  font-size: px-to-rem(34);
  font-style: italic;
  font-family: $fontSerif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

h3 {
  color: $colorSecondary;
  font-size: px-to-rem(27);
  font-family: $fontSans;
  font-weight: 700;
  margin: 0;

  &.alt {
    color: $colorPrimary;
  }
}

h4 {
  color: $colorSecondary;
  font-size: px-to-rem(21);
  font-family: $fontSans;
  font-weight: 700;
  margin: 0;

  &.alt {
    color: $colorPrimary;
  }
}

p {
  font-size: px-to-rem(18);
  font-family: $fontSerif;
  line-height: 1.5;
  margin: 0 0 $spacePx 0;

  &:last-child {
    margin: 0;
  }
}

ul {
  font-size: px-to-rem(18);
  font-family: $fontSerif;
  line-height: 1.5;
  margin: 0 0 $spacePx 0;

  &:last-child {
    margin: 0;
  }
}
