// Colors
$colorBlack: #14203A;
$colorPrimary: #FF5EAC;
$colorSecondary: #3CCA9C;
$colorAccent: #EAF893;
$colorSecondAccent: #FFE69F;

// Fonts
$fontSans: 'Montserrat', sans-serif;
$fontSerif: 'Georgia', serif;

// Space Units
$space: 16;
$spacePx: 16px;

// Border Radius
$borderRadius: 4px;
