// Colors
$colorBlack: #000;
$colorWhite: #fff;
$colorPrimary: #EC2E2E;
$colorSecondary: #84807A;
$colorAccent: #F7F3EE;
$colorSecondAccent: #ECE8E3;
$colorError: #EC2E2E;

// Fonts
$fontSans: 'Montserrat', sans-serif;
$fontSerif: 'Georgia', serif;

// Space Units
$space: 16;
$spacePx: 16px;

// Border Radius
$borderRadius: 4px;
