// Colors
$colorBlack: #292139;
$colorPrimary: #F33F18;
$colorSecondary: #FB4476;
$colorAccent: #FFC3D3;
$colorSecondAccent: #FEF38F;

// Fonts
$fontSans: 'Montserrat', sans-serif;
$fontSerif: 'Georgia', serif;

// Space Units
$space: 16;
$spacePx: 16px;

// Border Radius
$borderRadius: 4px;
