@import '../styles/utils.scss';
@import '../styles/variables.scss';

.BlankHero {
  background: $colorAccent;
  color: $colorPrimary;
  // 132px is a magic number, height of navigation
  height: 132px;
  position: relative;

  @include respond-to(medium-screen) {
    // 123px is a magic number, height of navigation
    height: 123px;
  }

  &:after {
    background-image: url(../images/abstract-pattern-1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 2000px auto;
    bottom: -80px;
    left: 0;
    content: '';
    display: block;
    position: absolute;
    height: calc(100% + 80px);
    opacity: .18;
    width: 100%;
  }

  &.opt2 {
    &:after {
      background-image: url(../images/abstract-pattern-2.png);
    }
  }

  &.opt3 {
    &:after {
      background-image: url(../images/abstract-pattern-3.png);
    }
  }
}
