@import '../styles/utils.scss';
@import '../styles/variables.scss';

.Container {
  &.fullWidth {
    display: flex;
    justify-content: center;
  }
  
  &.maxWidth {
    max-width: 1250px;
    padding: 0 $spacePx;
    width: 100%;

    @include respond-to(medium-screen) {
      padding: 0 columns(1, 16);
    }

    @include respond-to(large-screen) {
      padding: 0 columns(1, 24);
    }
  }
}
