@import '../styles/utils.scss';
@import '../styles/variables.scss';

.ContactForm {

  .innerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: $spacePx*4;

    @include respond-to(medium-screen) {
      padding-bottom: $spacePx*6;
    }

    &.formFailure {
      .contactHeadline {
        color: $colorBlack;
      }
    }

    &.formSuccess {
      .contactHeadline {
        color: $colorBlack;
      }
    }

    &.formFailure,
    &.formSuccess {
      .contactHeadline {
        max-width: 500px;
        margin: $spacePx*5.5 0 $spacePx*2;

        @include respond-to(medium-screen) {
           margin: $spacePx*8 0 $spacePx*2.5;
        }
      }
    }
  }

  .contactHeadline {
    margin: $spacePx*5.5 0 $spacePx*4;
    max-width: 700px;
    text-align: center;

    @include respond-to(medium-screen) {
       margin: $spacePx*8 0 $spacePx*4.5;
    }
  }

  .contactFormBody {
    width: 100%;
    max-width: $spacePx*30;
  }

  .submitButton {
    @include button($colorPrimary);
  }

  .resetButton {
    @include button($colorPrimary);
  }
}
