@import '../styles/variables.scss';

.Container {
  &.fullWidth {
    display: flex;
    justify-content: center;
  }
  
  &.maxWidth {
    max-width: 1200px;
    padding: 0 $spacePx;
    width: 100%;
  }
}
