@import '../styles/utils.scss';
@import '../styles/variables.scss';

.FooterCta {
  background: $colorAccent;
  height: 600px;
  position: relative;

  &:after {
    background-image: url(../images/abstract-pattern-2.png);
    background-position: bottom center;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    opacity: .15;
    width: 100%;
  }
}
