@import '../styles/utils.scss';
@import '../styles/variables.scss';

.FooterCta {
  background: $colorSecondAccent;
  position: relative;

  &:after {
    background-image: url(../images/abstract-pattern-2.png);
    background-position: bottom center;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    opacity: .18;
    width: 100%;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: $spacePx*5;
    padding-top: $spacePx*5;
    position: relative;
    z-index: 1;

    @include respond-to(medium-screen) {
      flex-direction: row;
      align-items: center;
    }
  }

  div[class$='CTA'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:first-of-type {
      width: 100%;
      border-bottom: 2px solid rgba($colorPrimary, .22);
      padding: 0 0 $spacePx*3 0;
      margin: 0 0 $spacePx*2 0;

      @include respond-to(medium-screen) {
        border-bottom: none;
        padding: 0 columns(1, 16) 0 0;
        margin: 0 columns(1, 16) 0 0;
        width: columns(7, 16);
      }

      @include respond-to(large-screen) {
        padding: 0 columns(1, 24) 0 0;
        margin: 0 columns(1, 24) 0 columns(1, 24);
        width: columns(10, 24);
      }

      .CTAbutton {
        margin: $spacePx*2 0 0 0;
        @include button($colorPrimary);
      }
    }

    &:last-of-type {
      width: 100%;

      @include respond-to(medium-screen) {
        margin: 0;
        width: columns(7, 16);
      }

      @include respond-to(large-screen) {
        margin: 0 columns(1, 24) 0 0;
        width: columns(10, 24);
      }

      .CTAbutton {
        margin: $spacePx*2 0 0 0;
        @include button($colorSecondary);
      }
    }
  }
}
