@import '../styles/utils.scss';
@import '../styles/variables.scss';

.HomeHero {
  background: $colorAccent;
  color: $colorPrimary;
  position: relative;

  &:after {
    background-image: url(../images/abstract-pattern-1-rag.png);
    background-position: bottom center;
    background-size: cover;
    bottom: -100px;
    content: '';
    display: block;
    position: absolute;
    height: calc(100% + 100px);
    opacity: .18;
    width: 100%;
  }

  .innerContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: $spacePx * 4;
    padding-top: ($spacePx + 123px);
    // 123px is a magic number, height of navigation
    text-align: center;

    @include respond-to(small-screen) {
      height: 550px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .headline {
    margin: 0;
    max-width: 800px;
    position: relative;
    z-index: 1;
  }

  .headlineLogo {
    bottom: -2px;
    fill: $colorPrimary;
    position: relative;
    width: 241px;
  }
}
