@import '../styles/variables.scss';

.Navigation {
  background: $colorAccent;
  padding: $spacePx*2 0;
  position: relative;

  &:after {
    background-image: url(../images/abstract-pattern-3-rag.png);
    background-position: bottom center;
    background-size: cover;
    bottom: -80px;
    content: '';
    display: block;
    position: absolute;
    height: calc(100% + 80px);
    opacity: .15;
    width: 100%;
    z-index: 0;
  }

  &.floating {
    background: none;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;

    &:after {
      display: none;
    }
  }

  nav {
    display: flex;
    position: relative;
    z-index: 1;
  }

  .navLogo {
    display: block;
    fill: $colorBlack;
    width: 120px;
  }

  .navLinks {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-weight: 700;

      &.navLink {
        border-bottom: 3px solid rgba(0,0,0,0);
        line-height: 1;
        margin: 0 0 0 $spacePx;
        padding: 0 0 $spacePx/2 0;

        &.current {
          border-color: $colorSecondary;
        }

        a {
          color: $colorBlack;
          text-decoration: none;
        }
      }

      &.navContactButton {
        background: $colorSecondary;
        border-radius: $borderRadius;
        color: #fff;
        line-height: 1;
        padding: 8px $spacePx 11px;
        margin: 0 0 0 $spacePx;
      }
    }
  }

  .contactForm {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $colorSecondary;
  }
}
