@import '../styles/utils.scss';
@import '../styles/variables.scss';

.Navigation {
  left: 0;
  padding: $spacePx*2 0;
  position: absolute;
  right: 0;
  z-index: 1;

  @include respond-to(medium-screen) {
    padding: $spacePx*3 0;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @include respond-to(medium-screen) {
      flex-direction: row;
    }
  }

  .navLogoLink {
    margin: 0 0 $spacePx 0;
  }

  .navLogo {
    display: block;
    fill: $colorBlack;
    width: 120px;
  }

  .navList {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    font-family: $fontSans;
    font-size: px-to-rem(16);
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .navListItem {
    list-style-type: none;
    margin: 0 $spacePx 0 0;
    padding: 0;

    &:last-of-type {
      margin: 0;
    }
  }

  .navLink {
    border-bottom: 0px solid rgba(0,0,0,0);
    color: $colorBlack;
    font-size: px-to-rem(14);
    font-weight: 700;
    line-height: 1;
    padding: 0 0 $spacePx/2;
    text-decoration: none;
    transition: all .2s ease-in-out;

    @include respond-to(medium-screen) {
      font-size: px-to-rem(16);
    }

    &:hover {
      border-bottom: 3px solid rgba($colorSecondary, .22);
    }

    &:focus {
      outline: none;
    }

    &.active {
      border-bottom: 3px solid $colorSecondary;

      &:hover {
        border-bottom: 3px solid $colorSecondary;
      }
    }

    &.navButton {
      @include respond-to(medium-screen) {
        @include smallButton($colorSecondary);
        border: 3px solid rgba(0,0,0,0);

        &.active {
          background: none;
          border: 3px solid $colorSecondary;
          color: $colorSecondary;
        }
      }
    }
  }

  .contactForm {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $colorSecondary;
  }
}
