@import '../styles/utils.scss';
@import '../styles/variables.scss';

.ProcessGrid {

  .innerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: $spacePx*4;

    @include respond-to(medium-screen) {
      padding-bottom: $spacePx*6;
    }
  }

  .gridHeadline {
    margin: $spacePx*7 0 $spacePx*4;
    max-width: 800px;
    text-align: center;

    @include respond-to(medium-screen) {
      margin: $spacePx*9 0 $spacePx*6;
    }
  }
}
