@import '../styles/utils.scss';
@import '../styles/variables.scss';

.WorkGrid {

  .innerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: $spacePx*4;

    @include respond-to(medium-screen) {
      padding-bottom: $spacePx*2;
    }
  }

  .gridHeadline {
    margin: $spacePx*5.5 0 $spacePx*4;
    max-width: 700px;
    text-align: center;

    @include respond-to(medium-screen) {
       margin: $spacePx*8 0 $spacePx*4.5;
    }
  }

  section {
    padding-bottom: $spacePx*2.5;
    margin-bottom: $spacePx*2;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: rgba($colorPrimary, .22);
      height: 2px;
      width: 25%;
      bottom: 0;
    }

    &:last-of-type {
      padding: 0;
      margin: 0;

      &:after {
        display: none;
      }
    }

    @include respond-to(medium-screen) {
      padding-bottom: $spacePx*3.75;
      margin-bottom: $spacePx*3;

      &:last-of-type {
        padding: 0;
        margin: 0;
      }
    }

    @include respond-to(large-screen) {
      padding: 0;
      margin: 0;

      &:after {
        display: none;
      }
    }
  }

  div[class$='Row'] {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 $spacePx*2 0;
    width: 100%;

    &:last-of-type {
      margin: 0;
    }

    @include respond-to(large-screen) {
      flex-direction: row;
      margin: 0 0 $spacePx*4 0;

      &:last-of-type {
        margin: 0 0 $spacePx*4 0;
      }
    }
  }

  h3[class$='Headline'] {
    margin: 0 0 $spacePx 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  // Invitations

  .inviteTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(7, 24);
    }
  }

  .inviteImage {
    width: 100%;

    @include respond-to(large-screen) {
      width: columns(16, 24);
    }
  }

  // Weddings

  .wedStdImage {
    width: 100%;

    @include respond-to(large-screen) {
      order: 1;
      width: columns(15, 24);
    }
  }

  .wedTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(large-screen) {
      order: 2;
      margin: 0 0 0 columns(1, 24);
      width: columns(8, 24);
    }
  }

  div.wedThreeRow {
    align-items: flex-start;

    @include respond-to(medium-screen) {
      flex-direction: row;
    }
  }

  .wedSignImage {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16) 0 0;
      width: columns(8, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(12, 24);
    }
  }

  .wedEncolsuresCol {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(7, 16);
    }

    @include respond-to(large-screen) {
      width: columns(11, 24);
    }
  }

  .wedEnvelopeImage {
    margin: 0 0 $spacePx*2 0;
  }

  // Everything Else

  .everythingOneRow {
    align-items: center;
  }

  .everythingTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(8, 24);
    }
  }

  .everythingSummerImage {
    width: 100%;

    @include respond-to(large-screen) {
      width: columns(15, 24);
    }
  }

  div.everythingTwoRow {
    align-items: flex-start;

    @include respond-to(medium-screen) {
      flex-direction: row;
    }
  }

  .everythingCardsCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16) 0 0;
      width: columns(8, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(12, 24);
    }
  }

  .everythingSpringImage {
    margin: 0 0 $spacePx*2 0;
  }

  .everythingHolidayImage {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(7, 16);
    }

    @include respond-to(large-screen) {
      width: columns(11, 24);
    }
  }
}
