@import '../styles/utils.scss';
@import '../styles/variables.scss';

.WorkGrid {

  .innerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: $spacePx*4;

    @include respond-to(medium-screen) {
      padding-bottom: $spacePx*6;
    }
  }

  .gridHeadline {
    margin: $spacePx*7 0 $spacePx*4;
    max-width: 900px;
    text-align: center;

    @include respond-to(medium-screen) {
      margin: $spacePx*9 0 $spacePx*6;
    }
  }

  div[class$='Row'] {
    display: flex;
    flex-direction: column;
    margin: 0 0 $spacePx*2 0;
    width: 100%;

    &:last-of-type {
      margin: 0;
    }

    @include respond-to(medium-screen) {
      flex-direction: row;
      margin: 0 0 $spacePx*4 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  h3[class$='Headline'] {
    color: $colorSecondary;
    margin: 0 0 $spacePx 0;

    &.alt {
      color: $colorPrimary;
    }
  }

  img {
    height: 100%;
  }

  // Save the Dates

  .stdRow {
    align-items: center;
  }

  .stdTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16) 0 0;
      width: columns(6, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 columns(2, 24);
      width: columns(7, 24);
    }
  }

  .stdImage {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(9, 16);
    }

    @include respond-to(large-screen) {
      width: columns(14, 24);
    }
  }

  // Showers

  .showerRow {
    align-items: center;
  }

  .showerTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      order: 2;
      width: columns(6, 16);
    }

    @include respond-to(large-screen) {
      width: columns(6, 24);
    }
  }
  
  .showerImage {
    width: 100%;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16) 0 0;
      order: 1;
      width: columns(9, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(17, 24);
    }
  }

  // Weddings

  .wedOneRow {
    align-items: center;
  }

  .wedTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16) 0 0;
      width: columns(6, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(8, 24);
    }
  }

  .wedInviteImage {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(9, 16);
    }

    @include respond-to(large-screen) {
      width: columns(15, 24);
    }
  }

  .wedSuiteImage {
    width: 100%;
  }

  .wedSignImage {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16) 0 0;
      width: columns(5, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(9, 24);
    }
  }

  .wedEnvelopeImage {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(10, 16);
    }

    @include respond-to(large-screen) {
      width: columns(14, 24);
    }
  }

  // Greeting Cards
  .cardRow {
    align-items: center;
  }

  .cardTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 0 0 columns(1, 16);
      order: 2;
      width: columns(6, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 0 0 columns(1, 24);
      width: columns(8, 24);
    }
  }

  .cardImage {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(9, 16);
    }

    @include respond-to(large-screen) {
      width: columns(15, 24);
    }
  }

  // Everything Else
  .otherOneRow {
    align-items: center;
  }

  .otherTextCol {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16) 0 0;
      width: columns(6, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 columns(2, 24);
      width: columns(7, 24);
    }
  }

  .otherSummerImage {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(9, 16);
    }

    @include respond-to(large-screen) {
      width: columns(14, 24);
    }
  }


  .otherThanksImage {
    width: 100%;
    margin: 0 0 $spacePx*2 0;

    @include respond-to(medium-screen) {
      margin: 0 columns(1, 16);
      width: columns(9, 16);
    }

    @include respond-to(large-screen) {
      margin: 0 columns(1, 24) 0 0;
      width: columns(13, 24);
    }
  }

  .otherSpringImage {
    width: 100%;

    @include respond-to(medium-screen) {
      width: columns(6, 16);
    }

    @include respond-to(large-screen) {
      width: columns(10, 24);
    }
  }
}
